.main-container {
    background-color: white;
    border: 1px solid #40404010;
    height: 100vh;
    overflow: auto;
}

.product-grid {
    background-color: white;
    border: 1px solid #40404010;
}

.img-grid {
    border: 1px solid #40404010;
}

.product-img {
    width: 50%;
    margin-bottom: 0px;
}

.offer-badge {
    background-color: green !important;
    color: white !important;
    padding: 14px !important;
}