.products-container {
    height: 100vh;
    background-color: #40404010;
}

.product-title {
    font-size: 10pt;
    text-align: left;
    color: red;
}

.product-grid {
    background-color: white;
    border: 1px solid #40404010;
}

.p-img {
    width: 50%;
}