.not1 {
    background-color: #daf8da;
    border-radius: 7px;
    padding: 14px;
    font-size: 13pt;
}

.not2 {
    background-color: #c7d1f3;
    border-radius: 7px;
    padding: 14px;
    margin-right: 20px;
    margin-top: 8px;
    margin-bottom: 12px;
    font-size: 13pt;
}

.not3 {
    background-color: #f1d4ab;
    border-radius: 7px;
    padding: 14px;
    margin-top: 8px;
    margin-bottom: 12px;
    font-size: 13pt;
}

.not4 {
    background-color: #f7ccc1;
    border-radius: 7px;
    padding: 14px;
    margin-top: 8px;
    margin-bottom: 12px;
    font-size: 13pt;
}