body {
    background-color: rgb(232, 238, 206);
}

table {
    font-size: 30pt;
    width: 50%;
    border-collapse: collapse;
}

th {
    padding: 8px;
}

tr {
    color: cadetblue;
    padding: 1px;
}

td {
    padding: 8px;
}