body {
    background-color: rgb(153, 226, 185);
}

ul li {
    color: rgb(117, 77, 65);
    font-size: 25pt;
    margin-top: 20px;
}

ol li {
    color: rgb(78, 75, 100);
    font-size: 25pt;
    margin-top: 20px;
}

.coffe {
    color: rgb(161, 81, 81)(214, 125, 125);
    font-size: 30pt;
}

.this {
    color: brown;
    font-size: 30pt;
}

.that {
    color: rgb(11, 83, 83);
}