body {
    background-color: #e7edff;
}

th,
td {
    font-family: 'Poppins', sans-serif;
}

table {
    border-radius: 8px;
    padding: 0px;
    background-color: white;
}

tr {
    border-bottom: 4px solid #e7edff !important;
}

td {
    padding: 20px;
    font-size: 10pt;
    border-bottom: 4px solid #e7edff;
}