        body {
            background-color: #b3b7b8
        }
        
        .logo {
            border-radius: 50%;
        }
        
        .first-name-up {
            font-family: 'Poppins', sans-serif;
            font-size: 10pt;
            color: #d8ab31
        }
        
        .what {
            font-family: 'Poppins', sans-serif;
            font-size: 4pt;
            color: rgb(165, 44, 165)!important;
        }
        
        .all {
            background-color: white;
            text-align: center;
        }
        
        .secand-name {
            color: wheat;
        }
        
        .hide {
            color: rgb(129, 54, 54)
        }