body {
    background-color: #5c5848;
}

.container {
    padding: 20px;
}

.main-div {
    background-color: white;
    width: 35%;
    border-radius: 8px;
    padding: 30px;
}

.div-title {
    color: black;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 500;
    font-size: 13pt;
    text-transform: capitalize;
}

.date-grids {
    display: grid;
    grid-template-columns: auto auto auto;
}

.date-div {
    background-color: rgba(255, 255, 255, 0.8);
}

.date-title {
    font-size: 11pt;
}

.date-div>p {
    font-family: 'Poppins', sans-serif;
    margin: 4px;
}

.custom {
    margin-top: 15px;
    padding: 14px 40px;
    background-color: #5c5848;
    border: none;
    color: white;
    border-radius: 4px;
}